*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background: linear-gradient(90deg, rgba(237,213,78,1) 0%, rgba(180,92,205,1) 41%, rgba(17,96,205,1) 100%);
    position: fixed;
    width: 100vw;
    top: 0;
}
nav div{
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    
}
nav div a{
    text-decoration: none;
    color: black;
}
#content{
    display: flex;
    background: linear-gradient(90deg, rgba(255,247,202,1) 0%, rgba(218,155,237,1) 35%, rgba(140,227,244,1) 100%);
    height: 95vh;
    padding-top: 30px;
}
#feed{
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
#feed::-webkit-scrollbar{
    display: none;
}
#friends::-webkit-scrollbar{
    display: none;
}
#content h3{
    padding-bottom: 8px;
}
#friends{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.post{
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}
.postimage{
    object-fit: contain;
    max-height: 500px;
}
.comment{
    width: 90%;
}
input{
    padding: 5px;
    color: black;
}
.list-item{
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.list-item1{
    /* background: white; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.dp{
    border-radius: 50%;
    width: 100%;
}
